# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/
/node_modules/

# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

# Ignore paths that contain user-generated content.
/web/sites/*/files
/web/sites/*/private

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest

# Environment variables.
*.env
.env

# Drupal core scaffolding files and folders.
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/.editorconfig
/.gitattributes
